<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>19</string>
							<key>EndingLineNumber</key>
							<string>9</string>
							<key>StartingColumnNumber</key>
							<string>7</string>
							<key>StartingLineNumber</key>
							<string>9</string>
							<key>Timestamp</key>
							<string>743650828.711897</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/CustomViews/Cells/SwiftUICells/FollowerView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>is-complete</key>
					<true/>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>FollowerView</string>
						<key>leading</key>
						<string>import SwiftUI

struct </string>
						<key>trailing</key>
						<string>: View {
    
    var follower: Follower
</string>
					</dict>
					<key>title</key>
					<string>This is a SwiftUI FollowerView sample</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Todays try</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>query</key>
				<string>text</string>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>FollowerView(</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
	</array>
</dict>
</plist>
